<?xml version="1.0" encoding="utf-8"?>
<manifest package="multidoctores.multidoctores"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Chat"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Registrar"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
            android:name=".Inicio"
            android:label="@string/title_activity_inicio"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
            android:name=".OlvideContrasenia"
            android:label="@string/title_activity_olvide_contrasenia"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
            android:name=".Conversacion"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
            android:name=".List"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
            android:name=".ChatHistoria"
            android:label="@string/app_historia"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".Gracias">
        </activity>
        <activity android:name=".Ficha"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
    </application>

</manifest> <!-- in the .conversacion para que la imagen se mantenga, pero no funciona como lo esperado android:windowSoftInputMode="adjustPan|stateVisible" -->
